div{
    display: block;
    
}
.child{
    padding: 5px;
}
.parent{
    background-color: lightblue;
    font-size: 60px;
    padding: 5px;
    position: relative;
    height: 200vh;
}
.child-one{
    background-color: blueviolet;
   position:fixed;
   top: 0px;
     
}
.child-two{
    background-color: violet;
}
.child-three{
    background-color: pink;
}